@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

/* 게시판 상세보기 CSS */

#wrap {
	-webkit-touch-callout: none;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	
    min-height: 100%;
	height: auto;
	padding-bottom: 100px;
	font-family: 'Noto Sans KR', sans-serif;
}

#reviewDetail_div {
	width: 55%;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 130px 0 50px 0;	
	margin: 0 auto;
}

.btn {
    width: 80px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #2d2d2d;
	background-color: #2d2d2d;
	color: white;
}

.btn:hover {
    background-color: black;
}

.btn:active {
    border: 1px solid #2d2d2d;
    background-color: #2d2d2d;
}


/* 상세보기 테이블 영역 */

#write_table {
    width: 100%;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    border-collapse: collapse;
}

#write_table tfoot tr td {
	text-align: right;
}

#write_table tr th {
    padding: 10px;
    width: 20%;
}

#write_table tr th:not(:last-child) {
    background-color: #2d2d2d;
    color: white;
    border-bottom: 1px solid lightgray;
}

#write_table tr th:last-child {
    padding: 10px;
}

#write_table tr td {
    border-bottom: 1px solid lightgray;
    padding: 10px 15px 10px 15px;
}

#write_table tr:not(:last-child) td {
	font-weight: bold;
}

#title_td {
	background-color: #2d2d2d;
}


@media all and ( max-width: 1280px ) {
	
#title_tdSpn {
	font-size: 1.6em;
	color: white;
	margin-left: 10px;
}

.detailImg {
	width: 100%;
}

} /* 1280 */

@media all and ( min-width: 1281px ) {

#title_tdSpn {
	font-size: 2em;
	color: white;
	margin-left: 10px;
}

.detailImg {
	width: 70%;
}

} /* 1920 */


#title_tdSpn {
	color: white;
	margin-left: 10px;
}

.icoSpn {
	vertical-align: middle;
	margin-right: 5px;
}

.icoEye {
	margin-left: 20px;
}

#content {
    min-height: 300px;
}

.detailImg_div {
	margin-top: 20px;
}

.detailImg {}

.contentTb_div {
	margin:50px 0 50px 0;
}


/* 댓글 테이블 영역 */

#reply_div {
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
}

#reply_div h3 {
	margin-left: 5px;
}

#listSizeSpn {
	color:red;
}

.textbox {
    padding: 10px;
}

.re_btn {
    width: 100px;
    height: 35px;
    vertical-align: middle;
    cursor: pointer;
}

.rere_cancel_btn {
    border: 1px solid #3a3a3a;
    background-color: white;
    color: #3a3a3a;
}

#rere_cancel_btn:active {
    background-color: #f9f9f9;
}

.regit_btn {
    border: 1px solid #3a3a3a;
    background-color: #3a3a3a;
    color: white;
}

.regit_btn:hover {
    border: 1px solid black;
    background-color: black;
}

.re_btn:active {
    background-color: #3a3a3a;
    color: white;
}

#reply_table {
    width: 100%;
    border-collapse: collapse;
}

#reply_table tfoot {
	border-bottom: 2px solid lightgray;
}

.reply_txtarea_div {
	margin-top: 10px;
}

.reply_regBtn_div {
	margin-top: 15px;
	margin-bottom: 40px;
	text-align: right;
}

.reply_tr {
	border: 1px solid lightgray;
}

.reply_trtd {
	padding: 10px 0 10px 15px;
	background-color: #3a3a3a;
	color: white;
}

.rereply_trtd {
	padding: 10px 0 10px 50px;
	background-color: #3a3a3a;
	color: white;
}

.reply_trtd_2 {
	padding: 10px 0 10px 15px;
}

.rereply_trtd_2 {
	padding: 10px 0 10px 50px;
}

.reply_imgSpn {
	vertical-align: middle;
	margin: 0 2px;
}

.delSpn {
	color: gray;
}

.reply_imgSpn img {
	width: 15px;
}

.reply_dateSpn {
	margin-left: 10px;
	color:gray;
	font-size:0.8em;
}

.re_textarea {
    line-height: 23px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    min-height: 170px;
    outline: none;
    padding: 15px;
    border: 2px solid #afafaf;
    color: #3a3a3a;
}

.replyComment_div {
	min-height: 40px;
}

.replrepl_div {
	margin: 20px 0;	
}

.re_spn {
    color: gray;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.re_spn:hover {
    text-decoration: underline;
}

.re_spn:active {
	color: black;
}

.comment {
    color: #3a3a3a;
    line-height: 27px;
}

.targetSpn {
	color: #dd9933;
	margin-right: 5px;
}