@charset "UTF-8";

/* 문의하기 CSS */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

#contact {
	-webkit-touch-callout: none;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
    background-image: url('../../img/desk-g1d033e3f8_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


@media all and ( max-width: 1280px ) {


#contact form {
	padding-top: 125px;
}

#contact_table {
    width: 65%;
    margin: 25px auto;
}


} /* 1280 */


@media all and ( min-width: 1281px ) {
	
	
#contact form {
	padding-top: 250px;
}

#contact_table {
    width: 50%;
    margin: 0 auto;
}
	
	
} /* 1920 */


#contact form {}

#contact h1 {
    font-family: 'Crimson Text', serif;
    font-size: 6em;
    margin: 0;
}

#contact_table {
    border-collapse: collapse;
}

#contact_table tr td {
    text-align: center;
    border:20px solid rgb(255, 255, 255, 0);
}

#contact_btn {
    border: 1px solid #c44444;
    background-color: #c44444;
    color: white;
    width: 100%;
    padding: 15px;
    font-size: 1.1em;
    cursor: pointer;
}

#contact_btn:hover {
    border: 1px solid orange;
    background-color: orange;
}

#contact .textbox {
    border: 1px solid lightgray;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    outline: none;
}

#contact textarea {
    border: 1px solid lightgray;
    width: 100%;
    resize: none;
    height: 200px;
    line-height: 25px;
    box-sizing: border-box;
    padding: 15px;
    outline: none;
    overflow: hidden;
}

textarea::placeholder {
    font-weight: bold;
}