@charset "UTF-8";

/* 문의하기 CSS */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

#contact {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
    background-image: url('../../img/desk-g1d033e3f8_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#contact form {
	margin-top: 250px;
}

#contact h1 {
    font-family: 'Crimson Text', serif;
    font-size: 6em;
    margin: 0;
}

#contact_table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
}

#contact_table tr td {
    text-align: center;
    border:20px solid rgb(255, 255, 255, 0);
}

#contact_btn {
    border: 1px solid #333333;
    background-color: #333333;
    color: white;
    width: 100%;
    padding: 15px;
    font-size: 1.1em;
    cursor: pointer;
}

#contact_btn:hover {
    border: 1px solid #c44444;
    background-color: #c44444;
}

#contact .textbox {
    border: 1px solid lightgray;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    outline: none;
}

#contact textarea {
    border: 1px solid lightgray;
    width: 100%;
    resize: none;
    height: 200px;
    line-height: 25px;
    box-sizing: border-box;
    padding: 15px;
    outline: none;
}

textarea::placeholder {
    font-weight: bold;
}