@charset "UTF-8";
h1 {
	text-align: center;
	font-size: 2em;
	border-top: 1px solid black;
	padding-top: 30px;
}
h1.a:after {
  content: "";
  display: block;
  width: 120px;
  border-bottom: 3px solid #e7e7e7;
  margin: 10px auto;
}
.back_table {
    width: 1280px;
    margin-top: 35px;
    table-layout: fixed;
}
.body_scroll {
    width: 1280px;
    height: 428px;
    overflow-y: scroll;
	overflow-x: scroll;
    border-top: 1px solid black;
}
.body_table {
    border: 0px;
    width: 1280px;
    table-layout: fixed;
    height: 30px;
}
.body_table thead tr {
	height: 40px;
}
.body_table tr {
	border-bottom: 1px solid #f0f0f0;
}
.body_table tr th {
	white-space: nowrap;
	text-align: center;
	background-color: #f0f0f0;
}
#tr_null {
	border-bottom: none;
}
#tr_null td {
	padding-right: 350px;
}
.title {
    text-align: center;
    font-weight: bold;
}
.content {
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 10px 10px 10px;
    text-align: center;                
    white-space: nowrap;
    overflow: hidden;
}
.selectAll_btn {
    margin-top: 10px;
}
.page_btn {
	text-align: center;
	margin-bottom: 30px;
}
.page_btn a {
	padding: 10px;
	color: black;
	text-decoration: none;
}
.page_btn span {
	padding: 10px;
	background-color: gray;
	color: white;
	border-radius: 100px;
}
.page_btn a:hover {
	background-color: gray;
	color: white;
	border-radius: 100px;
}
.selectAll_btn input {
	background-color: #f0f0f0;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    border: none;
}
.selectAll_btn input:hover {
 	background-color: #A5907E;
    box-shadow: 0px 15px 20px rgba(170, 166, 166, 0.4);
    color: #fff;
    transform: translateY(-3px);
}
.select_search {
	display: flex;
	justify-content: center;
}
.select_search select{
	border-radius: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.delete_btn {
	float: right;
}
.delete_btn input {
	width: 50px;
}
.text_search {
	border: 1px solid gray;
	border-radius: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
}