/* 메인 페이지 CSS */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

#main_div {
	-webkit-touch-callout: none;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	
    background-image: url('/img/ezgif-2-ef0bd54a5096.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
}

@media all and ( max-width: 1280px) {
	
	
.main_div_class {
	height: 1024px;
}

#main_title {
	top: 35%;
	font-size: 110px;
}

#main_title_dot {
	top: 35%;
	font-size: 160px;
}

#main_title_2 {
	top: 33%;
	font-size: 23px;
}

#sub_title {
    top: 35%;
    font-size: 100px;
}

#sub_title_2 {
    top: 36%;
    font-size: 25px;
}

#portfolio_table img {
    height: 340px;
}


} /* 1024 */

@media all and ( min-width: 1281px ) {
	
	
.main_div_class {
	height: 1200px;
}

#main_title {
	top: 30%;
	font-size: 150px;
}

#main_title_dot {
	top: 30%;
	font-size: 180px;
}

#main_title_2 {
	top: 28%;
	font-size: 30px;
}

#sub_title {
    top: 30%;
    font-size: 130px;
}

#sub_title_2 {
    top: 33%;
    font-size: 30px;
}

#portfolio_table img {
    height: 400px;
}
	
	
} /* 1920 */

	
#main {
    text-align: center;
}

#main_title {
    font-family: 'Ramabhadra', sans-serif;
    position: relative;
}

#main_title_dot {
    font-family: 'Hahmlet', serif;
    position: relative;
    color: #c185fd;
}

#main_title_2 {
    position: relative;
    font-family: 'Hahmlet', serif;
    color: #f99705;
    margin-right: 200px;
    opacity: 0;
}

#blank {
    background-image: url('/img/young-woman-g052f7f011_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#about {
    background-image: url('/img/bokeh-2072271_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#service {
    background-image: url('/img/abstract-g12a55acf5_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#portfolio_table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: white;
}

#portfolio_table tr td {
    padding: 0;
}

#portfolio_table a {
    text-decoration: none;
}

#portfolio_table img {
    vertical-align: middle;
    width: 100%;
}

#portfolio_table img:hover {
    opacity: 0.5;
    transition-duration: 0.7s;
}

#blank2 {
    background-image: url('/img/17470060_MotionElements_blue-and-pink-gradients.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    
    text-align: center;
}

#sub_title {
    font-family: 'Ramabhadra', sans-serif;
    position: relative;
    color: #333333;
}

#sub_title_2 {
	position: relative;
    font-weight: bold;
    font-family: 'Chakra Petch', sans-serif;
    color: #228be6;
}