@charset "UTF-8";

/* 예약하기 CSS */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#wrap {
	-webkit-touch-callout: none;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	
	min-height: 100%;
    height: auto;
    padding: 140px 0 100px 0;
    text-align: center;
}


@media all and ( max-width: 1280px ) {

#aside_div {
    margin: 200px 0 0 20px;
}

#field {
	padding: 15px;
}

.nowSpn {
	font-size: 2em;
}

} /* 1280 */

@media all and ( min-width: 1920px ) {
	
#aside_div {
    margin: 200px 0 0 70px;
}

#field {
	padding: 30px;
}

.nowSpn {
	font-size: 2.5em;
}
	
} /* 1920 */


#reserve_div {
    width: 45%;
    display: inline-block;
}

.title_div h1 {
    text-align: left;
    font-family: 'Crimson Text', serif;
    margin: 10px;
    font-size: 2.5em;
    color: darkblue;
}

#reserve_table {
    width: 100%;
    border-collapse: collapse;
}

#reserve_table tr th {
    padding: 15px;
}

#reserve_table tr td {
    border: 1px solid lightgray;
    text-align: center;
    width: 0%;
    font-weight: bold;
    font-family: 'DM Mono', monospace;
}

#reserve_table tr td a:hover {
    background-color: #333333;
    color: white;
    transition-duration: 0.3s;
}

#week_tr th {
	border: 1px solid lightgray;
	background-color: #333333;
	color: white;
	font-family: 'DM Mono', monospace;
}

.nowSpn {
	vertical-align: middle;
	margin: 0 20px;
	font-family: 'EliceDigitalBaeum_Bold';
}

.ico {
	width: 40%;
	opacity: 0.9;
}

.ico:hover {
	width: 45%;
	transition-duration: 0.3s;
}

.dateA {
    padding: 20px;
    text-decoration: none;
    color: black;
    display: block;
}

.sun a {
    color: red;
}

.sat a {
    color: blue;
}

.selected {
	background-color: #333333 !important;
    color: white !important;
    transition-duration: 0.3s !important;
}

#time_div {
	width: 90%;
    text-align: center;
    margin: 50px auto;
}

#field {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid lightgray;
}

#field legend {
	text-align: left;
	font-family: 'EliceDigitalBaeum_Bold';
	font-size: 1.2em;
}

.timeA {
    display: inline-block;
    text-decoration: none;
    color: #333333;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 5px;
}

.timeA:hover {
	background-color: #333333;
    color: white;
    transition-duration: 0.3s;
}

#aside_div {
	display: inline-block;
    position: absolute;
    font-family: 'EliceDigitalBaeum_Bold';
}

#aside_table {
	width: 100%;
	border: 1px solid gray;
	border-collapse: collapse;
}

#aside_table tr th, #aside_table tr td {
	border: 1px solid lightgray;
	padding: 15px;
}

#aside_table tr td {
	color: #dd9933;
}

#sayArea {
	border: 1px solid lightgray;
    width: 100%;
    resize: none;
    height: 110px;
    padding: 10px;
    outline: none;
    line-height: 20px;
    box-sizing: border-box;
}

.reserveBtnDiv {
	margin-top: 30px;
}

.reserveBtn {
	border: 1px solid #333333;
	background-color: #333333;
	color: white;
	width: 100%;
	padding: 15px;
	cursor: pointer;
	font-size: 1em;
}

.reserveBtn:hover {
	border: 1px solid #dd9933;
	background-color: #dd9933;
    transition-duration: 0.3s;
}