@charset "UTF-8";

/* 약관 페이지 CSS */

#wrap  {
	-webkit-touch-callout: none;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	
	animation: fadein 1s;
	-moz-animation: fadein 1s; /* Firefox */
	-webkit-animation: fadein 1s; /* Safari and Chrome */
	-o-animation: fadein 1s; /* Opera */
	
	background-color: #eeeeee;
	padding: 170px 0 160px 0;
}


@media all and ( max-width: 1280px ) {

#clauseDiv {
    width: 70%;
}

.btnDiv {
    margin-top: 50px;
}

} /* 1280 */


@media all and ( min-width: 1281px ) {

#clauseDiv {
    width: 40%;
}

.btnDiv {
    margin-top: 30px;
}
	
	
} /* 1920 */


#clauseDiv {
    margin: 0 auto;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.contentDiv {
    padding: 40px;
}

.subjectDiv {
    color: gray;
}

.subjectDiv h1 {
    font-size: 0.8em;
}

.content {
    border: 1px solid lightgray;
    width: 100%;
    padding: 15px;
    color: gray;
    height: 120px;
    background-color: #f9f9f9;
    margin-top: 10px;
    margin-bottom: 30px;
    resize: none;
    box-sizing: border-box;
    outline: none;
    line-height: 20px;
}

#agreeCheck {
    margin-right: 7px;
    vertical-align: middle;
}

.btnDiv {
    text-align: center;
}

.btn {
    width: 150px;
    height: 60px;
    font-size: 1.2em;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    outline: none;
}

#disagree {
    background-color: white;
    color: gray;
    margin-right: 5px;
}
#disagree:hover {
    background-color: #f6f6f6;
}

#disagree:active {
    background-color: white;
}

#agree {
    background-color: #dd9933;
    color: white;
    margin-left: 5px;
}

#agree:hover {
    background-color: orange;
}

#agree:active {
    background-color: #dd9933;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}